/Library
/Logs
/obj
/Temp
/UserSettings
.vsconfig
.DS_Store
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
URP-Practice.sln
/.vs
/.vscode
/.idea
Packages/packages-lock.json
ProjectSettings/QualitySettings.asset
*.csproj
.idea/.idea.URP-Practice/.idea/workspace.xml
