/Library
/Logs
/obj
/Temp
/UserSettings
.vsconfig
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
URP-Practice.sln
/.vs
/.vscode
/.idea
Packages/packages-lock.json
ProjectSettings/QualitySettings.asset
*.csproj
